python/candidate-shortlist/__pycache__/
python/candidate-shortlist/venv/
python/candidate-shortlist/.env
python/resume-screening/__pycache__/
python/resume-screening/venv/
python/resume-screening/.env
python/resume-screening/env*
react/node_modules/
spring-boot/.settings
spring-boot/target
spring-boot/.classpath
spring-boot/.factorypath
spring-boot/.project
